<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>WGAN_GP可视化生成Fashion-MNIST数据界面</title>
  <script type="text/javascript">
        function ProcessFile() {
            var file = document.getElementById('file').files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    var txt = event.target.result;

                    var img = document.createElement("img");
                    img.src = txt;
                    document.getElementById("result").appendChild(img);
                };
            }
            reader.readAsDataURL(file);
        }

        function contentLoaded() {
            document.getElementById('file').addEventListener('change',
                ProcessFile, false);
        }

        window.addEventListener("DOMContentLoaded", contentLoaded, false);

    </script>
</head>

<link rel="icon" type="image/png" href="/static/gan_fmnist.ico">

<body>
<form action="/api/fmnist.html" method="post" enctype="multipart/form-data">
  <P>
  <h4>请点击以下按钮随机生成Fashion-MNIST数据集中的图片:</h4>
  <input type="submit" value="生成"><br>

  <h5>{{ message }}</h5>
  <h4>生成的假图文件如下：</h4> <br>
  <img src="/static/fmnist/{{filename}}" alt="">
</form>
</body>

</html>